<form method="POST">
    <div>
        <label for="email">Adresse mail</label>
        <input type="email" id="email" name="email" placeholder="flash.mcqueen@hetic.eu"/>
    </div>
    <div>
        <label for="firstname">Prénom</label>
        <input type="firstname" id="firstname" name="firstname" placeholder="Flash"/>
    </div>
    <div>
        <label for="lastname">Nom</label>
        <input type="lastname" id="lastname" name="lastname" placeholder="McQueen"/>
    </div>
    <div>
        <label for="profile_picture">Photo de profil</label>
        <input type="file" id="profile_picture" name="profile_picture" disabled/>
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="Entrer votre mot de passe"/>
    </div>
    
    <button type="submit">Se connecter</button>
</form>