@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --clr-white-primary: #fafafa;
  --clr-purple-primary: #3574d3;
  --clr-black-primary: #344054;
  --clr-gray-secondary: #475467;
  --clr-purple-opacity-30: #9e77ed;

  --fs-small: 16px;
  --fs-medium: 24px;
  --fs-large: 32px;

  --fw-large: 600;
  --fw-medium: 500;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-white-primary);
  font-size: var(--fs-medium);
  color: var(--clr-black-primary);
  font-family: "Inter", sans-serif;
}

/* Layout */
main {
  min-height: 100vh;
  display: flex;

  #map-section {
    width: 100%;
    background-color: antiquewhite;
  }

  #sidebar-section {
    min-width: 400px;
    padding: 16px;
    display: flex;
    flex-flow: column;
    gap: 32px;
    align-items: center;
  }
}

.sidebar-content {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 16px;
}

/* Utility */

.divider {
  height: 2px;
  background-color: var(--clr-black-primary);
  width: 100%;
}

.cta {
  color: var(--clr-white-primary);
}

.active-link {
  background-color: var(--clr-purple-opacity-30);
}

h1 {
  font-weight: var(--fw-medium);
  font-size: var(--fs-large);
}

#notification {
  position: absolute;
  padding: 8px 16px;
  width: 100%;
  text-align: center;
  font-size: var(--fs-small);
  animation-duration: 3s;
  animation-name: notificationFade;
  animation-fill-mode: both;
}

.error {
  background-color: #fef0c7;
  color: #dc6803;
}
.success {
  background-color: #eafdf1;
  color: #039855;
}

.hide {
  opacity: 0;
}

@keyframes notificationFade {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
