<article class="station-card">
    {% if user %}{# Logged in (and in favorite) #}
    <div class="station-infos">
        <h3>{{ station["name"] }}</h3>
        <p>{{ station["nom_arrondissement_communes"] }}</p>
    </div>
    <div class="actions">
        <a href="javascript:void(0)">
            <svg class="favorite-icon favorite-active" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z" stroke="#8C8880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>

    {% else %}{# Not logged in (and not in favorite) #}
    <div class="station-infos">
        <h3>{{ station["name"] }}</h3>
        <p>{{ station["nom_arrondissement_communes"] }}</p>
    </div>
    <div class="actions">
        <a href="javascript:addFavorite({{ station["station_code"] }}, {{ station["name"] }})">
            <svg class="favorite-icon" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z" stroke="#8C8880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
    {%endif%}
</article>