<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Velyb</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    {% for css_path in css_paths %}
    <link rel="stylesheet" type="text/css" href={{ css_path }}>
    {% endfor %}
</head>
<body>
    <main>
      {% if message and status %}
      <p id="notification" {% if status %}class={{status}}{% endif %}>
        {{message}}
      </p>
      {% endif %}
      <section id="sidebar-section">
        {% include '/components/sidebar_component/sidebar.html'%}
        {% block sidebar_content %} {% endblock %}
      </section>
      <section id="map-section">
        {% include '/components/map_component/map.html' %}  
      </section>
    </main>
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
{% for js_path in js_paths %}
<script src={{ js_path }}></script>
{% endfor %}
</html>